@font-face {
  font-family: "Caudex";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Caudex-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Caudex";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Caudex-Bold.woff2') format('woff2');
}
@font-face {
  font-family: "Caudex";
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Caudex-Italic.woff2') format('woff2');
}
@font-face {
  font-family: "Caudex";
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Caudex-BoldItalic.woff2') format('woff2');
}

.caudex {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}

.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
}
